<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>796535141828-0epnnh0b3m1j0rjbg23n4p61dn8ejrvv.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.796535141828-0epnnh0b3m1j0rjbg23n4p61dn8ejrvv</string>
	<key>API_KEY</key>
	<string>AIzaSyBaWhGES_kRwecQ6Sril-J1YaX8DYPpD7Q</string>
	<key>GCM_SENDER_ID</key>
	<string>796535141828</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.covenantnomad.knockknock</string>
	<key>PROJECT_ID</key>
	<string>knock-knock-prod</string>
	<key>STORAGE_BUCKET</key>
	<string>knock-knock-prod.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:796535141828:ios:cf9ce469dc5d1cd4e46091</string>
</dict>
</plist>